/* GENERAL  */
#flex
{
    display: flex;
    
}

/* #left-block
{
    
} */

#lienProjet
{
    display: block;
    border: solid silver 2px;
    border-radius: 5px;
    min-width: 145px;
    width: 15%;

}

#center-block
{
    width: 100%;
}

#center-block h1
{
    margin-top: 0px;
    margin-bottom: 21px;
    margin-left: 10px;
    border-bottom: solid rgb(0, 0, 0) 3px;

}

/* Contact */
div.carte
{
    display: flex;

}

/* Fiche */

#info
{
    width: 225px;
    margin-right: 15px;

}

.onglet
{
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    padding: 3px;
    border: 1px solid black;
    cursor: pointer;
} 

.onglet_0
{
    background: var(--couleurNiveau3);
    border-bottom: 1px solid black;
    color: var(--couleurNiveau1);
}

.onglet_1
{
    background: var(--couleurNiveau2);
    border-bottom: 0px solid black;
    padding-bottom: 4px;
    color: black;
}

.contenu_onglet
{
    background-color:#ffffff;
    color: black;
    border-top: 1px solid black;
    margin-top: -1px;
    padding: 5px;
    display: none;
}

ul
{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -10px
}

h1
{
    margin: 0px;
    padding: 0px;
}

/* autre */
#changeLog
{
    position: absolute;		/* positionné par rapport à son conteneur : content1 */
	width: 518px;
	top: 80px;
	left: 612px;
	padding: 5px 10px 10px 10px;
	/*border-radius: 10px;*/
	border: 1px solid var(--couleurBordure);
	background-color: var(--couleurNiveau1);
	margin: 0px 0px 0px 0px;

}

#changeLog span.titre
{
    display: block;
	margin-bottom: 5px;
	font-weight: bolder;
	text-align: center;
	color: inherit;
	background-color: inherit;
}

/*Confinement*/
#Confinement
{
    display: flex;
    justify-content: space-around;

}

.reaConfinement
{
    border: solid black 2px;
    border-radius: 15px;
    padding: 10px;
    width: 250px;
    margin-right: 15px;
    margin-left: 5px;
    width: 300px;
    height: 200px

}

.reaConfinement h2
{
    text-decoration: underline;
    margin-top: 0px;
    margin-bottom: 15px;
    width: 205px;

}

.uneRea img
{
    width: 32px;
    height: 32px;
    margin-left: 10px;
}


.uneRea
{
    flex-wrap: wrap;

}

/*Changelog*/
.changelog
{
    margin-left: 10px;
    font-size: x-large;
}