#flex
{
    display: flex;
    
}

#left-block
{
    
}

#lienProjet
{
    display: block;
    border: solid silver 2px;
    border-radius: 5px;
    min-width: 145px;
    width: 15%;

}

#center-block
{

}

#center-block h1
{
    margin-top: 0px;
    margin-left: 10px;
    border-bottom: solid darkslategrey 3px;
    

}






